/ProjektKino.Tests/*
ProjektKino.sln
/.vs/*
/.git/*
/packages/*
/ProjektKino/obj/*
/ProjektKino/Properties/*
/ProjektKino/Scripts/*
/ProjektKino/ApplicationInsights.config
/ProjektKino/Global.asax.cs
/ProjektKino/packages.config
/ProjektKino/ProjektKino.csproj
/ProjektKino/ProjektKino.csproj.user
/ProjektKino/Startup.cs
/ProjektKino/Web.config
/ProjektKino/Web.Debug.config
/ProjektKino/Web.Release.config
/ProjektKino/App_Data/*
/ProjektKino/App_Start/*
/ProjektKino/bin/*
/ProjektKino/Migrations/*